<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap"
      rel="stylesheet"
    />
    <title>Successful order</title>
  </head>
  <body>
    <h1>DEVS MAY CRY</h1>
    <h2>Thank you for your order {{username}}</h2>
    <p><strong>Order Number:</strong>{{orderID}}</p>
    <p>Total value:{{totalValue}}</p>
  </body>
</html>
